<!DOCTYPE html>
<html>
<head>
    <title>Weather for 4 Cities</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
</head>
<body>
    <div class="container">
        
        <h1>Weather for 4 Cities</h1>
        <a href="/" class="back-button">Back</a>
        <div class="cards-container">
            {% for city_weather in cities_weather %}

            <div class="weather-card">
                <h2>{{ city_weather.city }}</h2>
                <div class="weather-info">
                    <img src="{{ city_weather.icon }}" alt="{{ city_weather.description }}" class="weather-icon">
                    <div class="weather-detail">
                        <p><span class="label">Temperature:</span> {{ city_weather.temperature }} °C</p>
                    </div>
                    <div class="weather-detail">
                        <p><span class="label">Pressure:</span> {{ city_weather.pressure }} mm Hg</p>
                    </div>
                    <div class="weather-detail">
                        <p><span class="label">Humidity:</span> {{ city_weather.humidity }} %</p>
                    </div>
                    <div class="weather-detail">
                        <p><span class="label">Wind Speed:</span> {{ city_weather.wind_speed }} m/s</p>
                    </div>
                    <div class="weather-detail">
                        <p><span class="label">Description:</span> {{ city_weather.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="/" class="back-button">Back</a>
    </div>
    <script>
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('/static/service-worker.js')
            .then(function(registration) {
              console.log('Service Worker registered with scope:', registration.scope);
            }).catch(function(error) {
              console.log('Service Worker registration failed:', error);
            });
        }
    </script>
</body>
</html>